.serviceBtn{
    height: 4rem;
    margin-left: 1rem;
}
.serviceBtn:hover {
transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#btns_levels_wrap{
	padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;


}
.btnLenvelGrad
{
	font-size: 1.5rem;
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    width: 10%;

}
#label_for_grads
{
	font-size: 2rem;
	    display: inline-block;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#informationGrads
{
		font-size: 2rem;
	    display: inline-block;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gradsTable {width: 50%;}
.gradsTable th {text-align: right; font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.gradsTable tr {text-align: right; background-color:#d4e3e5;}
.gradsTable td {text-align: right; font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5; width:2%;}
.gradsTable tr:hover {background-color:#ffffff;}

#testInfoWrppr
{
	font-size: 1.5rem;
	display: inline-block;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#avrgInfoID
{
    /*display: inline-block;*/
    /*margin-bottom: .5rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.infoAvgC
{
	font-size: 1.5rem;
    display: inline-block;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textAvgC
{
	font-size: 0.8rem;
    display: inline-block;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wordC
{
	border: solid;
	border-color: #ff99dd;
    display: inline-block;
    width: 15%;
    height: 2.3rem;
    background-color: white;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left:  5px;
    font-size: 1.5rem;
}
#wordsWrpprID
{
	padding-top: 3rem;
	margin-left: 25px;
}

.helpersBtnLsn
{
  background-repeat: no-repeat;
  background-size:3rem 3rem;
  width: 3rem;
  height:  3rem;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  margin-right: 1rem;

}
.wrppHelpBtn
{
	float: right;
	padding-right: 1rem;
}

.insBtnClass
{
	background-color: #ff99dd;
	font-size: 1.1rem;
    display: /*inline*/-block;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.instWrppC
{
	margin-top: 3rem;
	width: 100%;
	float: right;
}

#infoBtnID
{
	width: 20%;
	float: right;
}

#gradsWrprrClass
{
	float: top;
}
#labelsC1{
	font-size: 1.5rem;
	text-align: center;
	margin-top: 1rem;
	padding-top: 1rem;
	direction: rtl;
	width: 100%;
}

#labelsCText{
	text-align: center;
	width: 100%;
	font-size: 1.5rem;
}

#infoExerLbleID{
	direction: rtl;
	padding-right: 4rem;
	padding-top: 2rem;
	font-size: 1rem;
	width: 100%;
	float: right;

}
#wrrperContentID
{
	margin-right: 2rem;
	box-sizing: border-box;
	float: right;
	width: 94%;
	text-align: right;
}
#exerciseContainerID
{
	width: 100%;
}
#insLabelID
{
	direction: rtl;
	padding-right: 1rem;
	padding-top: 1rem;
	font-size: 1.2rem;
	width: 100%;
	float: right;
	text-align: right;
}

.listWordsID
{
	margin-top: 0.5rem;
	width: 100%;
	float: right;
	text-align: right;
	margin-right: 4rem;
	height:
}
.wordInListExeQC
{
	float: right;
	width: 5%;
	height: 2rem;
	text-align: center;
	background-color: #ffccff;
	font-size: 1.5rem;
}
.wordInListExeAC
{
	margin-right: 1rem;
	float: right;
	font-size: 1.5rem;
	width: 5%;
	height: 2rem;
	text-align: center;
	background-color: #99ccff;
}

.wrrpListID
{
	/*margin-right: 4rem;*/
	background-color: white;
	height: 26rem;
	overflow:hidden;
	width:100%;
	overflow-y:scroll;
}

.rightColsC
{
	margin-top: 4rem;
	margin-right: 2rem;
	float: right;
	width:25%;
	/*background-color: red;*/
}

#dictWrrprID
{
	width: 95%;
	padding: 2%;
	margin: 0;
	border: 4;
	margin-left: 0.8rem;
	border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

#legendID
{
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
	padding-left:  0.5rem;
	margin-left: 90%;
}
.DictBtnC
{
	float: right;
	width: 80%;
	margin-right: 2.5rem;
	margin-top: 0.5rem;
}

.DictTxtC
{
	width: 100%;
    display: flex;
    font-size: 1.3rem;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
	margin-top: 1.5rem;
}

#grammerhlpID
{
	float: right;
	width: 95%;
	margin-right: 0.7rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	background-color: #ff99ff;
}

.middleColsC
{
	margin-top: 5rem;
	margin-left: 3rem;
	width: 68%;
}

#explLabelID
{
	width: 100%;
    display: flex;
    font-size: 1.5rem;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
	background-color: white;
}

.questionWrrprC
{
	margin-top:  1rem;
	border-color: gray;
	border-style: groove;
	height: 40rem;
	overflow:hidden;
	width:100%;
	overflow-y:scroll;
}

.addQC
{
	float: right;
	width: 98%;
	margin:1rem;
	background-color: #ECF0F1 ;
	height: 7rem;
}

#checkAnsID
{
	margin-top: 1rem;
	width: 100%;
    display: flex;
	justify-content: center;
	background-color: #ff99ff;
    align-items: center;
}
.wrppQC
{
	width: 100%;
}

.numQC
{
	float: left;
	font-size: 1rem;
	width: 3%;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

.inputAnsTxtC{
	margin-top: .5rem;
	width: 95%;
	margin-left:  .5rem;
	border-color: #00ccff;
}
.wrrpBtnC{
	width: 100%;
	margin-top: 0.5rem;
}
.btnAnsC
{
	width: 15%;
	margin: 0.5rem;
}