.serviceBtn{
    height: 4rem;
    margin-left: 1rem;
}
.serviceBtn:hover {
transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#btns_levels_wrap{
	padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;


}
.btnLenvelGrad
{
	font-size: 1.5rem;
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    width: 10%;

}
#label_for_grads
{
	font-size: 2rem;
	    display: inline-block;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#informationGrads
{
		font-size: 2rem;
	    display: inline-block;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gradsTable {width: 50%;}
.gradsTable th {text-align: right; font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.gradsTable tr {text-align: right; background-color:#d4e3e5;}
.gradsTable td {text-align: right; font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5; width:2%;}
.gradsTable tr:hover {background-color:#ffffff;}

#testInfoWrppr
{
	font-size: 1.5rem;
	display: inline-block;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#avrgInfoID
{
    /*display: inline-block;*/
    /*margin-bottom: .5rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.infoAvgC
{
	font-size: 1.5rem;
    display: inline-block;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textAvgC
{
	font-size: 0.8rem;
    display: inline-block;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}