
    @media (max-height: 450px) {
        body,html{
            font-size: 8px !important;
        }
    }

    @media (max-height: 500px) and (min-height: 451px) {
        body,html{
       font-size: 9px !important;
        }
    }

    @media (max-height: 600px) and (min-height: 501px) {
        body,html{
       font-size: 12px !important;
        }
    }

    @media (max-height: 700px) and (min-height: 601px) {
        body,html{
       font-size: 11px !important;
        }
    }

    @media (max-height: 900px) and (min-height: 701px) {
        body,html{
        font-size: 14px !important;
        }
    }

    @media (min-height: 901px) {
        body,html{
       font-size: 16px !important;
        }
    }

    .container{
        background-image: url('bg5.png');
        background-size:100% 100%;
        width:100%;
        height:100%;
        max-width:100%;

    }
    .row1{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .icon{
        height: 4rem;
        margin-left: 1rem;
    }
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        font-size: 5rem;
        font-weight: bold;
    }
    .row3{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 35rem;
    }
    .course{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 33%;
    }
    .label{
        font-size: 2rem;
    }
    .img{
        width: 50%;
        height: 20rem;
        padding-bottom: 1rem;
    }
    .btn1{
        background-color:rgb(114, 142, 235);
        font-size: 1.5rem;
    }
  .imageWord{
        background-color: cornflowerblue;
        width: 35%;
        height: 13rem;
        margin-top: 1rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-right: 3%;
    }
        .left{
        width: 22%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 25%;
  top: 10%;
  width: 60%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#grammerContentText
{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #304b50;
}
