nav ul{height:8rem; width:100%; padding-left: 0;text-align: left;  float: left; list-style-type: none; background-color: white; border-style: groove;}
nav ul{overflow:hidden;width:100%;  overflow-y:scroll; text-align: left;  float: left;list-style-type: none;background-color: white;border-style: groove;}

    @media (max-height: 450px) {
        body,html{
            font-size: 8px !important;
        }
    }

    @media (max-height: 500px) and (min-height: 451px) {
        body,html{
       font-size: 9px !important;
        }
    }

    @media (max-height: 600px) and (min-height: 501px) {
        body,html{
       font-size: 12px !important;
        }
    }

    @media (max-height: 700px) and (min-height: 601px) {
        body,html{
       font-size: 11px !important;
        }
    }

    @media (max-height: 900px) and (min-height: 701px) {
        body,html{
        font-size: 14px !important;
        }
    }

    @media (min-height: 901px) {
        body,html{
       font-size: 16px !important;
        }
    }

    .container{
        background-image:url('bg5.png');
        background-size:100% 100%;
        width:100%;
        height:100%;
        max-width:100%;
    }
    .top{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 5rem;
    }
    .right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 78%
    }
    .left{
        width: 22%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .bottom{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 45rem;
    }
    .colomn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .left_colomn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 30rem;
    }
    .row{
        margin-top: 3rem;
    }
    .row1{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 14rem;
        margin-right: 20%;
    }
    .row2{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 14rem;
        margin-right: 20%;
    }
    .row3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 14rem;
    }
    .icon{
        height: 4rem;
        margin-left: 1rem;
    }
    .btn1{
        background-color:rgb(114, 142, 235);
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-right: 3rem;
        margin-left: 3rem;
    }
    .prog{
        width: 40%;
    }
    .label{
        font-size: 2rem;
    }
    .label2{
        font-size: 2rem;
        font-weight: bold;
    }
    .div{
        background-color: cornflowerblue;
        font-size: 2rem;
        margin-top: 2rem;
        width: 100%;
        height: 4rem;
        text-align: center;
        line-height: 4rem;
    }
    .table{
        background-color: cornflowerblue;
        width: 35%;
        height: 8rem;
        margin-top: 1rem;
    }
    .text{
        background-color: cornflowerblue;
        width: 80%;
        height: 10rem;
        text-align: center;
        line-height: 10rem;
        font-size: 1.5rem;
    }

    .words{
        width: 100%;
        text-align: left;
        border: burlywood;

    }

    #wordsList{
        height: 8rem;
        width: 100%;

    }
    .imageWord{
        background-color: cornflowerblue;
        width: 35%;
        height: 13rem;
        margin-top: 1rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-right: 3%;
    }
    .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 25%;
  top: 10%;
  width: 60%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#memHelpBorderID
{
   /*  display: flex;
        justify-content: flex-end;*/
        /*align-items: center;*/
        width: 100%;
        height: 30rem;
        margin-right: 20%;
        border-style: outset;
}

#memHelpTextId
{
    font-weight: bold;
    text-align: right;
    margin-right: 3;
      position: relative;
  top: -0.5em;
  margin-left: 51em;
  display: inline;
  background-color: white;
}

#text_row2
{
    font-weight: bold;
    margin-right: 3%;
    text-align: right;
}